@import "../../styles/breakpoints";

.header {
  display: flex;
  justify-content: flex-end;
  padding: var(--gap-default) 0;
  box-shadow: var(--box-shadow-primary);
  min-height: 83px;

  @media (max-width: 1400px) {
    top: 3vh;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    right: 3vw;
  }

  @media (max-width: 700px) {
   top: 1vh;
  }

  &__logo {
    width: 50px;
    height: 17px;

    @include laptop{
      width: 100px;
      height: 37px;
    }
  }
}
